{% extends 'dashboard/base.html' %}
{% load i18n %}
{% load bootstrap4 %}

{% block title %}
    {% trans 'Change password' context 'Page title' %} - {{ block.super }}
{% endblock %}

{% block body_class %}{% endblock %}

{% block page %}
<!-- Page -->
<div class="page">
    <div class="page-header">
        <h1 class="page-title">{% trans 'Change password' context 'Page title' %}</h1>
        <div class="page-header-actions">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'dashboard:index' %}">{% trans 'Dashboard' context 'Breadcrumb item' %}</a>
                </li>
                <li class="breadcrumb-item active">{% trans 'Change password' context 'Breadcrumb item' %}</li>
            </ol>
        </div>
    </div>
    <div class="page-content">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="panel">
                    <div class="panel-body">
                        <form action="" method="POST" novalidate>{% csrf_token %}
                            {% bootstrap_field form.old_password %}
                            {% bootstrap_field form.new_password1 %}
                            {% bootstrap_field form.new_password2 %}
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary float-right">
                                    {% trans 'Update' context 'Button text' %}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page -->
{% endblock %}

{% block plugin_css %}{% endblock %}
{% block page_css %}{% endblock %}
{% block plugin_js %}{% endblock %}
{% block page_js %}{% endblock %}