{% extends 'dashboard/base.html' %}
{% load static %}
{% load i18n %}
{% load bootstrap4 %}

{% block title %}
    {% trans 'Profile' context 'Page title' %} - {{ block.super }}
{% endblock %}

{% block body_class %}{% endblock %}

{% block page %}
<!-- Page -->
<div class="page">
    <div class="page-header">
        <h1 class="page-title">{% trans 'Profile' context 'Page title' %}</h1>
        <div class="page-header-actions">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'dashboard:index' %}">{% trans 'Dashboard' context 'Breadcrumb item' %}</a>
                </li>
                <li class="breadcrumb-item active">{% trans 'Profile' context 'Breadcrumb item' %}</li>
            </ol>
        </div>
    </div>
    <div class="page-content">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="panel">
                    <div class="panel-body">
                        <form action="" method="POST" novalidate>{% csrf_token %}
                            {% bootstrap_field form.email %}
                            {% bootstrap_field form.first_name %}
                            {% bootstrap_field form.last_name %}
                            {% bootstrap_field form.date_of_birth %}
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary float-right">
                                    {% trans 'Update' context 'Button text' %}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page -->
{% endblock %}

{% block plugin_css %}
    <link rel="stylesheet" href="{% static 'dashboard/global/vendor/bootstrap-datepicker/bootstrap-datepicker.min.css' %}">
{% endblock %}
{% block page_css %}{% endblock %}
{% block plugin_js %}
    <script src="{% static 'dashboard/global/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
{% endblock %}
{% block page_js %}{% endblock %}