{% extends 'dashboard/base.html' %}
{% load static %}
{% load i18n %}
{% load bootstrap4 %}
{% load get_flag %}

{% block title %}
    {% if translate %}
        {{ translate }}
    {% else %}
        {% trans 'Add translation' context 'Page title' %}
    {% endif %}
    - {{ block.super }}
{% endblock %}

{% block body_class %}{% endblock %}
{% block portfolio_class %}active open{% endblock %}
{% block portfolio_project_class %}active{% endblock %}

{% block page %}
<div class="page">
    <div class="page-header">
        <h1 class="page-title">
            {% if translate %}
                {{ translate }}
            {% else %}
                {% trans 'Add translation' context 'Page title' %}
            {% endif %}
        </h1>
        <div class="page-header-actions">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'dashboard:index' %}">{% trans 'Dashboard' context 'Breadcrumb item' %}</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="javascript:void(0)">{% trans 'Portfolio' context 'Breadcrumb item' %}</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'dashboard:portfolio:project-list' %}">{% trans 'Projects' context 'Breadcrumb item' %}</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'dashboard:portfolio:project-change' pk=project.pk %}">{{ project }}</a>
                </li>
                <li class="breadcrumb-item active">
                    {% if translate %}
                        {{ translate }}
                    {% else %}
                        {% trans 'Add translation' context 'Breadcrumb item' %}
                    {% endif %}
                </li>
            </ol>
        </div>
    </div>
    <div class="page-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel">
                    <div class="panel-body">
                        <form action="" method="POST" novalidate>{% csrf_token %}
                            {% bootstrap_form_errors form %}
                            {% bootstrap_field form.project %}
                            {% bootstrap_field form.language_code %}
                            {% bootstrap_field form.name %}
                            {% bootstrap_field form.description %}
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary float-right">
                                    {% if translate %}
                                        {% trans 'Update' context 'Button text' %}
                                    {% else %}
                                        {% trans 'Add' context 'Button text' %}
                                    {% endif %}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block plugin_css %}
    <link rel="stylesheet" href="{% static 'dashboard/global/vendor/summernote/summernote.css' %}">
{% endblock %}
{% block plugin_js %}
    <script src="{% static 'dashboard/global/vendor/summernote/summernote.js' %}"></script>
{% endblock %}
{% block page_css %}{% endblock %}
{% block page_js %}
    <script>
        $(document).ready(function() {
            $('textarea').summernote();
        });
    </script>
{% endblock %}