{% extends "dashboard/base_modal.html" %}
{% load i18n %}

{% block form_class %}{% endblock %}

{% block action_url %}{% url 'dashboard:account:staff-delete' pk=staff.pk %}{% endblock %}

{% block modal_title %}
  {% blocktrans trimmed context "Modal remove group text" %}
    Delete staff <strong>{{ staff }}</strong>
  {% endblocktrans %}
{% endblock %}

{% block modal_body %}
  <p>
    {% blocktrans trimmed context "Modal remove group text" %}
      Are you sure you want to delete staff <strong>{{ staff }}</strong>?
    {% endblocktrans %}
  </p>
{% endblock %}

{% block primary_action %}
  {% trans "Delete" context "Button text" %}
{% endblock %}
