{% extends "dashboard/base_modal.html" %}
{% load i18n %}

{% block form_class %}{% endblock %}

{% block action_url %}{% url 'dashboard:service:service-delete' pk=service.pk %}{% endblock %}

{% block modal_title %}
  {% blocktrans trimmed context "Modal remove group text" %}
    Delete service <strong>{{ service }}</strong>
  {% endblocktrans %}
{% endblock %}

{% block modal_body %}
  <p>
    {% blocktrans trimmed context "Modal remove group text" %}
      Are you sure you want to delete service <strong>{{ service }}</strong>?
    {% endblocktrans %}
  </p>
{% endblock %}

{% block primary_action %}
  {% trans "Delete" context "Button text" %}
{% endblock %}
