{% extends "dashboard/base_modal.html" %}
{% load i18n %}

{% block form_class %}{% endblock %}

{% block action_url %}{% url 'dashboard:account:customer-delete' pk=customer.pk %}{% endblock %}

{% block modal_title %}
  {% blocktrans trimmed context "Modal remove group text" %}
    Delete customer <strong>{{ customer }}</strong>
  {% endblocktrans %}
{% endblock %}

{% block modal_body %}
  <p>
    {% blocktrans trimmed context "Modal remove group text" %}
      Are you sure you want to delete customer <strong>{{ customer }}</strong>?
    {% endblocktrans %}
  </p>
{% endblock %}

{% block primary_action %}
  {% trans "Delete" context "Button text" %}
{% endblock %}
