{% load i18n %}
{% load get_flag %}

<li class="nav-item dropdown">
    <form id="lang-picker" action="{% url 'set_language' %}" method="post">{% csrf_token %}
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        <input name="next" type="hidden" value="{{ redirect_to }}">
        <input name="language" type="hidden" value="">
        <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" data-animation="scale-up"
            aria-expanded="false" role="button">
            <span class="flag-icon {% get_flag lang_code=LANGUAGE_CODE %}"></span>
        </a>
        <div class="dropdown-menu" role="menu">
            {% for language in languages %}
            <a class="dropdown-item lang-pick" href="javascript:void(0)" role="menuitem" data-lang="{{ language.code }}">
                <span class="flag-icon {% get_flag lang_code=language.code %}"></span>
                {{ language.name_local }}
            </a>
            {% endfor %}
        </div>
    </form>
</li>