{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html class="no-js css-menubar" lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="C Team">
    <meta name="author" content="C Team">
    
    <title>{% block title %}{% trans 'Dashboard' context 'Page title' %}{% endblock %}</title>
    
    <link rel="apple-touch-icon" href="{% static 'dashboard/images/apple-touch-icon.png' %}">
    <link rel="shortcut icon" href="{% static 'dashboard/images/favicon.ico' %}">
    
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'dashboard/global/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/global/css/bootstrap-extend.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/site.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/custom.css' %}">
    
	  <!-- Plugins -->
	  <!-- <link rel="stylesheet" href="{% static 'dashboard/global/vendor/animsition/animsition.css' %}"> -->
    <link rel="stylesheet" href="{% static 'dashboard/global/vendor/asscrollable/asScrollable.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/global/vendor/switchery/switchery.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/global/vendor/intro-js/introjs.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/global/vendor/slidepanel/slidePanel.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/global/vendor/flag-icon-css/flag-icon.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/global/vendor/bootstrap-sweetalert/sweetalert.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/global/vendor/alertify/alertify.css' %}">
    {% block plugin_css %}{% endblock %}
    {% block page_css %}{% endblock %}
    <!-- Fonts -->
    <link rel="stylesheet" href="{% static 'dashboard/global/fonts/weather-icons/weather-icons.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/global/fonts/web-icons/web-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/global/fonts/brand-icons/brand-icons.min.css' %}">
    <link rel='stylesheet' href="//fonts.googleapis.com/css?family=Roboto:300,400,500,300italic">
    
    <!--[if lt IE 9]>
    <script src="{% static 'dashboard/global/vendor/html5shiv/html5shiv.min.js' %}"></script>
    <![endif]-->
    
    <!--[if lt IE 10]>
    <script src="{% static 'dashboard/global/vendor/media-match/media.match.min.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/respond/respond.min.js' %}"></script>
    <![endif]-->
    
    <!-- Scripts -->
    <script src="{% static 'dashboard/global/vendor/breakpoints/breakpoints.js' %}"></script>
    <script>
      Breakpoints();
    </script>
  </head>
  <body class="{% block body_class %}{% endblock %}">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    {% block navigation %}
    <nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggler hamburger hamburger-close navbar-toggler-left hided"
          data-toggle="menubar">
          <span class="sr-only">Toggle navigation</span>
          <span class="hamburger-bar"></span>
        </button>
        <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-collapse"
          data-toggle="collapse">
          <i class="icon wb-more-horizontal" aria-hidden="true"></i>
        </button>
        <div class="navbar-brand navbar-brand-center site-gridmenu-toggle">
          <img class="navbar-brand-logo" src="{% static 'dashboard/images/logo.png' %}" title="{{ site.name }}">
          <span class="navbar-brand-text hidden-xs-down"> {{ site.name }}</span>
        </div>
        <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-search"
          data-toggle="collapse">
          <span class="sr-only">Toggle Search</span>
          <i class="icon wb-search" aria-hidden="true"></i>
        </button>
      </div>
    
      <div class="navbar-container container-fluid">
        <!-- Navbar Collapse -->
        <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
          <!-- Navbar Toolbar -->
          <ul class="nav navbar-toolbar">
            <li class="nav-item hidden-float" id="toggleMenubar">
              <a class="nav-link" data-toggle="menubar" href="#" role="button">
                <i class="icon hamburger hamburger-arrow-left">
                  <span class="sr-only">Toggle menubar</span>
                  <span class="hamburger-bar"></span>
                </i>
              </a>
            </li>
            <li class="nav-item hidden-sm-down" id="toggleFullscreen">
              <a class="nav-link icon icon-fullscreen" data-toggle="fullscreen" href="#" role="button">
                <span class="sr-only">Toggle fullscreen</span>
              </a>
            </li>
            <li class="nav-item hidden-float">
              <a class="nav-link icon wb-search" data-toggle="collapse" href="#" data-target="#site-navbar-search"
                role="button">
                <span class="sr-only">Toggle Search</span>
              </a>
            </li>
          </ul>
          <!-- End Navbar Toolbar -->
    
          <!-- Navbar Toolbar Right -->
          <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
            {% include 'dashboard/_language_picker.html' %}
            <li class="nav-item dropdown">
              <a class="nav-link navbar-avatar" data-toggle="dropdown" href="#" aria-expanded="false"
                data-animation="scale-up" role="button">
                <span class="avatar avatar-online">
                  <img src="{% static 'dashboard/global/portraits/5.jpg' %}" alt="...">
                  <i></i>
                </span>
              </a>
              <div class="dropdown-menu" role="menu">
                <a class="dropdown-item" href="{% url 'dashboard:account:profile' %}" role="menuitem">
                  <i class="icon wb-user" aria-hidden="true"></i> {% trans 'Profile' context 'User menu item' %}
                </a>
                <a class="dropdown-item" href="{% url 'dashboard:account:password-change' %}" role="menuitem">
                  <i class="icon wb-lock" aria-hidden="true"></i> {% trans 'Change password' context 'User menu item' %}
                </a>
                <div class="dropdown-divider" role="presentation"></div>
                <a class="dropdown-item" href="{% url 'dashboard:logout' %}" role="menuitem">
                  <i class="icon wb-power" aria-hidden="true"></i> {% trans 'Logout' context 'User menu item' %}
                </a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" title="Notifications"
                aria-expanded="false" data-animation="scale-up" role="button">
                <i class="icon wb-bell" aria-hidden="true"></i>
                <span class="badge badge-pill badge-danger up">0</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right dropdown-menu-media" role="menu">
                <div class="dropdown-menu-header">
                  <h5>NOTIFICATIONS</h5>
                  <!-- <span class="badge badge-round badge-danger">New 5</span> -->
                </div>
    
                <div class="list-group">
                  <div data-role="container">
                    <div data-role="content">
                      <a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
                        <div class="media">
                          <div class="pr-10">
                            <i class="icon wb-chat bg-orange-600 white icon-circle" aria-hidden="true"></i>
                          </div>
                          <div class="media-body">
                            <h6 class="media-heading">Say hello ^^</h6>
                            <time class="media-meta" datetime="2018-06-10T12:34:48+08:00">3 days ago</time>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="dropdown-menu-footer">
                  <a class="dropdown-menu-footer-btn" href="javascript:void(0)" role="button">
                    <i class="icon wb-settings" aria-hidden="true"></i>
                  </a>
                  <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                    All notifications
                  </a>
                </div>
              </div>
            </li>
          </ul>
          <!-- End Navbar Toolbar Right -->
        </div>
        <!-- End Navbar Collapse -->
    
        <!-- Site Navbar Seach -->
        <div class="collapse navbar-search-overlap" id="site-navbar-search">
          <form role="search">
            <div class="form-group">
              <div class="input-search">
                <i class="input-search-icon wb-search" aria-hidden="true"></i>
                <input type="text" class="form-control" name="site-search" placeholder="Search...">
                <button type="button" class="input-search-close icon wb-close" data-target="#site-navbar-search"
                  data-toggle="collapse" aria-label="Close"></button>
              </div>
            </div>
          </form>
        </div>
        <!-- End Site Navbar Seach -->
      </div>
    </nav>
    {% endblock %}

    {% block menubar %}
    <div class="site-menubar">
        <div class="site-menubar-body">
            <div>
                <div>
                    <ul class="site-menu" data-plugin="menu">
                        <li class="site-menu-category">General</li>
                        <li class="site-menu-item {% block dashboard_class %}{% endblock %}">
                            <a href="{% url 'dashboard:index' %}">
                                <i class="site-menu-icon wb-dashboard" aria-hidden="true"></i>
                                <span class="site-menu-title">{% trans 'Dashboard' context 'Sidebar menu item' %}</span>
                            </a>
                        </li>
                        
                        {% if perms.account.manage_customer or perms.account.manage_staff %}
                        <!-- Menu user item -->
                        <li class="site-menu-item has-sub {% block user_class %}{% endblock %}">
                          <a href="javascript:void(0)">
                            <i class="site-menu-icon wb-users" aria-hidden="true"></i>
                            <span class="site-menu-title">{% trans 'Users' context 'Sidebar menu item' %}</span>
                            <span class="site-menu-arrow"></span>
                          </a>
                          <ul class="site-menu-sub">
                              {% if perms.account.manage_customer %}
                              <li class="site-menu-item {% block user_customer_class %}{% endblock %}">
                                <a href="{% url 'dashboard:account:customer-list' %}">
                                  <span class="site-menu-title">{% trans 'Customers' context 'Sidebar menu item' %}</span>
                                </a>
                              </li>
                              {% endif %}
                              {% if perms.account.manage_staff %}
                              <li class="site-menu-item {% block user_staff_class %}{% endblock %}">
                                <a href="{% url 'dashboard:account:staff-list' %}">
                                  <span class="site-menu-title">{% trans 'Staffs' context 'Sidebar menu item' %}</span>
                                </a>
                              </li>
                              {% endif %}
                          </ul>
                        </li>
                        <!-- Menu user item -->
                        {% endif %}

                        {% if perms.blog.manage_category or perms.blog.manage_tag or perms.blog.manage_post %}
                        <!-- Menu blog item -->
                        <li class="site-menu-item has-sub {% block blog_class %}{% endblock %}">
                          <a href="javascript:void(0)">
                            <i class="site-menu-icon wb-pencil" aria-hidden="true"></i>
                            <span class="site-menu-title">{% trans 'Blogs' context 'Sidebar menu item' %}</span>
                            <span class="site-menu-arrow"></span>
                          </a>
                          <ul class="site-menu-sub">
                              {% if perms.blog.manage_category %}
                              <li class="site-menu-item {% block blog_category_class %}{% endblock %}">
                                <a href="{% url 'dashboard:blog:category-list' %}">
                                  <span class="site-menu-title">{% trans 'Categories' context 'Sidebar menu item' %}</span>
                                </a>
                              </li>
                              {% endif %}
                              {% if perms.blog.manage_tag %}
                              <li class="site-menu-item {% block blog_tag_class %}{% endblock %}">
                                <a href="{% url 'dashboard:blog:tag-list' %}">
                                  <span class="site-menu-title">{% trans 'Tags' context 'Sidebar menu item' %}</span>
                                </a>
                              </li>
                              {% endif %}
                              {% if perms.blog.manage_post %}
                              <li class="site-menu-item {% block blog_post_class %}{% endblock %}">
                                <a href="{% url 'dashboard:blog:post-list' %}">
                                  <span class="site-menu-title">{% trans 'Posts' context 'Sidebar menu item' %}</span>
                                </a>
                              </li>
                              {% endif %}
                          </ul>
                        </li>
                        <!-- Menu blog item -->
                        {% endif %}

                        {% if perms.portfolio.manage_category or perms.portfolio.manage_project %}
                        <!-- Menu portfolio item -->
                        <li class="site-menu-item has-sub {% block portfolio_class %}{% endblock %}">
                          <a href="javascript:void(0)">
                            <i class="site-menu-icon wb-grid-4" aria-hidden="true"></i>
                            <span class="site-menu-title">{% trans 'Portfolio' context 'Sidebar menu item' %}</span>
                            <span class="site-menu-arrow"></span>
                          </a>
                          <ul class="site-menu-sub">
                              {% if perms.portfolio.manage_category %}
                              <li class="site-menu-item {% block portfolio_category_class %}{% endblock %}">
                                <a href="{% url 'dashboard:portfolio:category-list' %}">
                                  <span class="site-menu-title">{% trans 'Categories' context 'Sidebar menu item' %}</span>
                                </a>
                              </li>
                              {% endif %}
                              {% if perms.portfolio.manage_project %}
                              <li class="site-menu-item {% block portfolio_project_class %}{% endblock %}">
                                <a href="{% url 'dashboard:portfolio:project-list' %}">
                                  <span class="site-menu-title">{% trans 'Projects' context 'Sidebar menu item' %}</span>
                                </a>
                              </li>
                              {% endif %}
                          </ul>
                        </li>
                        <!-- Menu portfolio item -->
                        {% endif %}

                        {% if perms.service.manage_service %}
                        <!-- Menu service item -->
                        <li class="site-menu-item {% block service_class %}{% endblock %}">
                            <a href="{% url 'dashboard:service:service-list' %}">
                                <i class="site-menu-icon wb-briefcase" aria-hidden="true"></i>
                                <span class="site-menu-title">{% trans 'Services' context 'Sidebar menu item' %}</span>
                            </a>
                        </li>
                        <!-- Menu service item -->
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

        {% if perms.sitesetting.manage_sitesettings %}
        <div class="site-menubar-footer">
            <a href="{% url 'dashboard:sitesetting:index' %}" class="fold-show" data-placement="top" data-toggle="tooltip" data-original-title="{% trans 'Settings' context 'Sidebar menu item' %}" style="width: 100%">
              <span class="icon wb-settings" aria-hidden="true"></span>
            </a>
        </div>
        {% endif %}
    </div>
    {% endblock %}

    {% block page %}{% endblock %}

    {% block footer %}
    <!-- Footer -->
    <footer class="site-footer">
      <div class="site-footer-legal"><a href="{% url 'dashboard:index' %}">{{ site.name }}</a> © {% now 'Y' %}</div>
      <div class="site-footer-right">
        Design by <a href="https://www.facebook.com/cteam.xyz/">C Team</a>
      </div>
    </footer>
    <!-- Footer -->
    {% endblock %}

    <!-- Modal -->
    <div
      id="base-modal"
      class="modal fade modal-fade-in-scale-up"
      aria-hidden="true"
      aria-labelledby="Base Modal"
      role="dialog"
      tabindex="-1"
    ></div>
    <!-- End Modal -->

    <!-- Core  -->
    <script src="{% static 'dashboard/global/vendor/babel-external-helpers/babel-external-helpers.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/jquery/jquery.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/popper-js/umd/popper.min.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/bootstrap/bootstrap.js' %}"></script>
    <!-- <script src="{% static 'dashboard/global/vendor/animsition/animsition.js' %}"></script> -->
    <script src="{% static 'dashboard/global/vendor/mousewheel/jquery.mousewheel.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/asscrollbar/jquery-asScrollbar.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/asscrollable/jquery-asScrollable.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/ashoverscroll/jquery-asHoverScroll.js' %}"></script>
    
    <!-- Plugins -->
    <script src="{% static 'dashboard/global/vendor/switchery/switchery.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/intro-js/intro.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/screenfull/screenfull.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/slidepanel/jquery-slidePanel.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/bootstrap-sweetalert/sweetalert.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/alertify/alertify.js' %}"></script>
    {% block plugin_js %}{% endblock %}
    
    <!-- Scripts -->
    <script src="{% static 'dashboard/global/js/Component.js' %}"></script>
    <script src="{% static 'dashboard/global/js/Plugin.js' %}"></script>
    <script src="{% static 'dashboard/global/js/Base.js' %}"></script>
    <script src="{% static 'dashboard/global/js/Config.js' %}"></script>
    
    <script src="{% static 'dashboard/js/Section/Menubar.js' %}"></script>
    <script src="{% static 'dashboard/js/Section/GridMenu.js' %}"></script>
    <script src="{% static 'dashboard/js/Section/Sidebar.js' %}"></script>
    <script src="{% static 'dashboard/js/Section/PageAside.js' %}"></script>
    <script src="{% static 'dashboard/js/Plugin/menu.js' %}"></script>
    
    <script src="{% static 'dashboard/global/js/config/colors.js' %}"></script>
    <script src="{% static 'dashboard/js/config/tour.js' %}"></script>
    <script>Config.set('assets', "{% static 'dashboard' %}");</script>
	
	<script src="{% static 'dashboard/js/Site.js' %}"></script>
    <script src="{% static 'dashboard/global/js/Plugin/asscrollable.js' %}"></script>
    <script src="{% static 'dashboard/global/js/Plugin/slidepanel.js' %}"></script>
	<script src="{% static 'dashboard/global/js/Plugin/switchery.js' %}"></script>
	<script src="{% static 'dashboard/js/Main.js' %}"></script>
	{% block page_js %}{% endblock %}
    <script>
      (function(document, window, $){
        'use strict';
        var Site = window.Site;
        $(document).ready(function(){
			Site.run();
			{% if messages %}
				{% for message in messages %}
					let message = "{{message}}";
					let type = "{% if message.tags %}{{ message.tags }}{% else %}info{% endif %}";
					swal({
						title: type,
						text: message,
						type: type,
						showCancelButton: false,
						confirmButtonClass: "btn-success",
						confirmButtonText: 'OK',
						closeOnConfirm: false
					});
				{% endfor %}
			{% endif %}
		});
      })(document, window, jQuery);
	</script>
  </body>
</html>
