{% extends 'dashboard/base.html' %}
{% load static %}
{% load i18n %}
{% load bootstrap4 %}

{% block title %}{% trans 'Password Changed' context 'Page title' %} - {{ block.super }}{% endblock %}

{% block body_class %}page-login-v2 layout-full page-dark{% endblock %}
{% block navigation %}{% endblock %}
{% block menubar %}{% endblock %}
{% block footer %}{% endblock %}

{% block page %}
<!-- Page -->
<div class="page">
    <div class="page-content">
        <div class="page-brand-info">
            <div class="brand">
                <h2 class="brand-text font-size-40">{{ site.name }}</h2>
            </div>
            <p class="font-size-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>

        <div class="page-login-main">
            <div class="brand hidden-md-up">
                <h3 class="brand-text font-size-40">{{ site.name }}</h3>
            </div>

            <h3 class="font-size-24">{% trans 'Password Changed' context 'Page title' %}</h3>

            <form method="post" action="" novalidate>
                <div class="alert dark alert-success" role="alert">
                    <h4>{% trans 'Your password is now changed.' %}</h4>
                    <p>
                        {% url "dashboard:login" as login_url %}
                        {% blocktrans trimmed with login_url=login_url context "Password reset from key done text" %}
                        You can now <a href="{{ login_url }}" style="margin-left: 0px;">sign in</a> using your new password.
                        {% endblocktrans %}
                    </p>
                </div>
            </form>

            <footer class="page-copyright">
                <p style="text-transform: uppercase;">{{ site.name }} © {% now 'Y' %}. All RIGHT RESERVED.</p>
            </footer>
        </div>

    </div>
</div>
<!-- End Page -->
{% endblock %}

{% block plugin_css %}{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="{% static 'dashboard/examples/css/pages/login-v2.css' %}">
{% endblock %}
{% block plugin_js %}{% endblock %}
{% block page_js %}{% endblock %}