{% extends 'dashboard/base.html' %}
{% load static %}
{% load i18n %}
{% load bootstrap4 %}

{% block title %}{% trans 'Forgot Password' context 'Page title' %} - {{ block.super }}{% endblock %}

{% block body_class %}page-login-v2 layout-full page-dark{% endblock %}
{% block navigation %}{% endblock %}
{% block menubar %}{% endblock %}
{% block footer %}{% endblock %}

{% block page %}
<!-- Page -->
<div class="page">
    <div class="page-content">
        <div class="page-brand-info">
            <div class="brand">
                <h2 class="brand-text font-size-40">{{ site.name }}</h2>
            </div>
            <p class="font-size-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>

        <div class="page-login-main">
            <div class="brand hidden-md-up">
                <h3 class="brand-text font-size-40">{{ site.name }}</h3>
            </div>

            <h3 class="font-size-24">{% trans 'Forgot Password' context 'Page title' %}</h3>

            <form method="post" action="" novalidate>
                {% if user.is_authenticated %}
                    <div class="alert dark alert-warning" role="alert">
                        <p>
                            {% blocktrans trimmed context "Already logged in warning message" %}
                                You are already logged in as {{ user }}.
                            {% endblocktrans %}
                        </p>
                    </div>
                {% endif %}
                <div class="alert dark alert-success" role="alert">
                    <p>
                        {% blocktrans trimmed context "Already logged in warning message" %}
                            We have sent you an e-mail.
                            Please contact us if you do not receive it within a few minutes.
                        {% endblocktrans %}
                    </p>
                </div>
            </form>

            <footer class="page-copyright">
                <p style="text-transform: uppercase;">{{ site.name }} © {% now 'Y' %}. All RIGHT RESERVED.</p>
            </footer>
        </div>

    </div>
</div>
<!-- End Page -->
{% endblock %}

{% block plugin_css %}{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="{% static 'dashboard/examples/css/pages/login-v2.css' %}">
{% endblock %}
{% block plugin_js %}{% endblock %}
{% block page_js %}{% endblock %}