{% extends 'dashboard/base.html' %}
{% load static %}
{% load i18n %}
{% load bootstrap4 %}

{% block title %}
    {% if category %}
        {{ category }} - {{ block.super }}
    {% else %}
        {% trans 'Add category' context 'Page title' %} - {{ block.super }}
    {% endif %}
{% endblock %}

{% block body_class %}{% endblock %}
{% block blog_class %}active open{% endblock %}
{% block blog_category_class %}active{% endblock %}

{% block page %}
<!-- Page -->
<div class="page">
    <div class="page-header">
        <h1 class="page-title">
            {% if category %}
                {{ category }}
            {% else %}
                {% trans 'Add category' context 'Page title' %}
            {% endif %}
        </h1>
        <div class="page-header-actions">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'dashboard:index' %}">{% trans 'Dashboard' context 'Breadcrumb item' %}</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="javascript:void(0)">{% trans 'Blog' context 'Breadcrumb item' %}</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'dashboard:blog:category-list' %}">{% trans 'Categories' context 'Breadcrumb item' %}</a>
                </li>
                <li class="breadcrumb-item active">
                    {% if category %}
                        {{ category }}
                    {% else %}
                        {% trans 'Add category' context 'Breadcrumb item' %}
                    {% endif %}
                </li>
            </ol>
        </div>
    </div>
    <div class="page-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel">
                    <div class="panel-body">
                        <form action="" method="POST" novalidate>{% csrf_token %}
                            {% bootstrap_field form.name %}
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary float-right">
                                    {% if category %}
                                        {% trans 'Update' context 'Button text' %}
                                    {% else %}
                                        {% trans 'Add' context 'Button text' %}
                                    {% endif %}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page -->
{% endblock %}

{% block plugin_css %}{% endblock %}
{% block page_css %}{% endblock %}
{% block plugin_js %}{% endblock %}
{% block page_js %}{% endblock %}